.grid {
    width: 320px;
    height: 640;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div {
    height: 32px;
    width: 32px;
}

.tetromino {
    background-color: purple;
}